footer
  .container
    section.col-md-3
      ul.nav.nav-list
        li.nav-header
          | about us
        li
          a(href='#') lib
        li
          a(href='#') app
        li
          a(href='#') doc
        li
          a(href='#') set
    section.col-md-3
      ul.nav.nav-list
        li.nav-header
          | case show
        li
          a(href='#') lib
        li
          a(href='#') app
    section.col-md-6
      .hero-unit.well
        h1
          span contect:
        h1
          span phone:xxxxx
        p
          | xxxx
        p
          | address: xxxxxxx
          a(href='http://map.baidu.com') map
